<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.intelisys.ussdparser">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

       <service
            android:name=".Service.USSDService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.intelisys.ussdparser.GET_PHONE_NUMBER"/>
                <action android:name="com.intelisys.ussdparser.SET_RESPONSE" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.intelisys.ussdparser.USSD_MAKE_CALL" />
                <action android:name="com.intelisys.ussdparser.USSD_REGISTER_CALL" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ResultActivity"
            android:label="@string/title_activity_result"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.intelisys.ussdparser.MainActivity" />
        </activity>

        <receiver android:name=".Receiver.MyScheduleReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <!--<action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />-->
            </intent-filter>
        </receiver>
        <receiver android:name=".Receiver.MyStartServiceReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.intelisys.ussdparser.START_SERVICE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Receiver.SystemDialogReceiver">
            <intent-filter>
                <action android:name="android.intent.action.CLOSE_SYSTEM_DIALOGS" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
